
.mainContainer{
    background-color: #ef4056;
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 200px;
    margin: 1.5em auto;
    cursor: pointer;
}