.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 102px;
    height: 44px;
    padding:0 8px;
    box-shadow:  0px 1px 5px rgba(0,0,0,.2);
    color: #ef4056;
    border-radius: 10px;
    margin: 1.5em auto;
}