.form{
    display: flex;
    width: 100%;
}
.emailBox{
    padding: 0px 8px;
    background-color:#f0f0f1 ;
    border-radius:8px ;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 48px;
    width: 75%;
}
.emailInput{
    padding: 0px 8px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color:#f0f0f1 ;
    width: 75%;
    overflow: hidden;
    border: none;
}
.submitButton{
    background-color: #e0e0e2;
    color: #fff;
    padding: 12px 16px;
    border-radius:8px ;
    display: flex;
    align-items: center;
    height: 48px;
    margin-right: 8px;
    border: 1px solid #e0e0e2;
}