.title{
    color: #3f4064;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 8px;
  }
  .items{
      text-decoration: none;
      color: #81858b;
      font-size: 15px;
    font-weight: 500;
    line-height: 2.15;
    display: block;
    margin-top: 8px;
  }