.outerContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #b12ba4;
  border-radius: 8px;
  width: 65%;
  margin-bottom: 12px;
  padding-top: 16px;

}
.rightContainer{
  display: flex;
  flex-direction: column;
  margin-right: -42px;
}
.leftContainer{
  display: flex;
  position: relative;
}
.rightItems{
  display: flex;
  margin:8px 0 ;
}
.text{
  color: #3f4064;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  background-color: #b12ba4;
  width: 225px;
}
.leftIcon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;
   
}
.leftItemsContainer{
 position: relative;
}
.leftList{
   display: flex;
   flex-direction: column;
}
.leftListText{
  font-size: 12px;
    color: #81858b;
    padding: 5px;
}
.leftImage{
  position: absolute;
  left: -60px;
  top: -41px;
}