
.outerContainer{
    direction: rtl;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 24px;
    background-color: #fff;
    margin-top: 40px;
    position: relative;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid #e0e0e2;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 211px;
    border-radius: 8px;
    height: 350px;
}
.emptyCartContainer{
    display: flex;
}
.emptyText{
    font-size: 20px;
    font-weight: 900;
    line-height: 2.1;
    color: #23254e;
    text-align: center;
    margin-top: 24px;
}
.extraText{
    font-size: 14px;
    font-weight: 400;
    line-height: 2.17;
    color: #62666d;
    text-align: center;
    margin-top: 8px;
}

.leftContainer{ 
    display: flex;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 4px;
    left: 6px;
}
.accountContainer{
   width: 300px;
   position: sticky;
}
.accountLink{
    display: block;
    padding: 12px 16px;
   border: 1px solid #f0f0f1;
   background-color: #fff;
   border-radius: 8px; 
   text-decoration: none;
}
.accountIconContainer{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.boxArrow{
    display: flex;
    flex-shrink: 0;
    margin-left: 8px;
}
.boxArrowIcon{
    width: 24px;
    height: 24px;
    color: #f9a825;
}
.boxArrowText{
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.1;
}
.angleLeft{
    display: flex;
    flex-shrink: 0;
    margin-right: 50px;
}
.angleLeftIcon{
    width: 24px;
    height: 24px;
    color: #424750;
}
.box{
    color: #81858b;
    font-size: 13px;
    line-height: 2.17;
    padding-right: 28px;
}